


<ActionBar title="Groceries">



        <!--<Button text="&#xf1e0; Test" tap="{{ tapAction }}" class="font-awesome" />-->
    <!--<ActionItem class="fa" text="{{'fa-bluetooth' | fonticon}}" (tap)="navigateService.goToPing()"   ios.position="right"></ActionItem>-->
    <!--<ActionItem text="&#xf1e0; Test"   class="font-awesome" (tap)="navigateService.goToModuleA()"   ios.position="right"></ActionItem>-->
    <!--<ActionItem text="Groceres" (tap)="navigateService.goToGroceries()" android.systemIcon="ic_menu_share_holo_dark" ios.systemIcon="7" ios.position="right"></ActionItem>-->


    <ActionItem text="ping" (tap)="navigateService.goToPing()"   ios.position="right"></ActionItem>
    <ActionItem text="ModuleA" (tap)="navigateService.goToModuleA()"  ios.position="right"></ActionItem>
    <ActionItem text="Groceres" (tap)="navigateService.goToGroceries()"   ios.position="right"></ActionItem>
    <ActionItem text="Action" (tap)="navigateService.showMenu()" icon="res://menu" stretch="none"  ios.position="right"></ActionItem>

</ActionBar>


<!--<ActionBar title="Groceries">-->
    <!--<ActionItem text="Share" (tap)="goToGroceries()" android.systemIcon="ic_menu_share_holo_dark" ios.systemIcon="9" ios.position="right"></ActionItem>-->
<!--</ActionBar>-->

<!--<actionbar-header></actionbar-header>-->



<!--<StackLayout   #container  >-->

    <!--<TextView  col="0" row="0"   text=" You are success login via Auth0 if you see this page.  " ></TextView>-->
    <!--<TextView  col="0" row="1"   text=" The flowing ping test only work if you started backend server.   If you don't need backend server, just ignorant ping test below." ></TextView>-->


    <!--<Label col="0" row="2"  text="Ping page"     backgroundColor="red"></Label>-->
    <!--<Label col="0" row="3"  text="ping"          backgroundColor="blue"  (tap)="ping()"></Label>-->
    <!--<Label col="0" row="4"  [text]="messagePing"     ></Label>-->
    <!--<Label col="0" row="5"  text="Security ping" backgroundColor="green" (tap)="securedPing()"></Label>-->
    <!--<Label col="0" row="6"  [text]="messageSecurityPing"    ></Label>-->
    <!--<Label col="0" row="7"  [text]="messageLast"    ></Label>-->
    <!--<Label col="0" row="8"  text="goToGroceries"  (tap)="goToGroceries()"  ></Label>-->



    <!--<Button text="test Mycomponent tttt"  ></Button>-->

    <!--<actionbar-header></actionbar-header>-->

    <!--<actionbar-headerb></actionbar-headerb>-->



<!--</StackLayout>-->

<!--<actionbar-header></actionbar-header>-->

<!--<my-component></my-component>-->






<GridLayout>


    <!--<arthur-my-custom></arthur-my-custom>-->


    <!--<StackLayout-->
            <!--(tap)="goToPing()"-->
            <!--class="initial-button">-->
        <!--<Label-->
                <!--text="Go to Ping"-->
                <!--class="initial-button-label"></Label>-->
    <!--</StackLayout>-->

<GridLayout columns="*" rows="*,*2,*,*,*,*,*,*,*" width="300" height="400" backgroundColor="lightgray" >

    <TextView  col="0" row="0"   text=" You are success login via Auth0 if you see this page.  " ></TextView>
    <TextView  col="0" row="1"   text=" The flowing ping test only work if you started backend server.   If you don't need backend server, just ignorant ping test below." ></TextView>


    <Label col="0" row="2"  text="Ping page"     backgroundColor="red"></Label>
    <Label col="0" row="3"  text="ping"          backgroundColor="blue"  (tap)="ping()"></Label>
    <Label col="0" row="4"  [text]="messagePing"     ></Label>
    <Label col="0" row="5"  text="Security ping" backgroundColor="green" (tap)="securedPing()"></Label>
    <Label col="0" row="6"  [text]="messageSecurityPing"    ></Label>
    <Label col="0" row="7"  [text]="messageLast"    ></Label>
    <Label col="0" row="8"  text="goToGroceries"  (tap)="navigateService.goToGroceries()"  ></Label>

    <!--<actionbar-header></actionbar-header>-->

</GridLayout>


</GridLayout>