@import url("~/platform.css");

Page{
    background-color: white;
    font-size: 15;
}

TextField{
      padding: 10;
  font-size: 13;
}

.small-spacing{
    margin:5;
}

.medium-spacing{
    margin:10;
        /*background-color:orange;*/

}

ActionBar{
    background-color: black;
    color:white;
}

.mred{
    background-color: red;
}
.mgreen{
    background-color: green;
}
.mblue{
    background-color: blue;
}
.mblack{
    background-color: black;
}
.morange{
    background-color: orange;
}