<!--<ActionBar title="Groceries">-->
    <!--<ActionItem text="Share" (tap)="goToGroceries()" android.systemIcon="ic_menu_share_holo_dark" ios.systemIcon="9" ios.position="right"></ActionItem>-->
<!--</ActionBar>-->

<!--<actionbar-header></actionbar-header>-->



<Button text="test Mycomponent bbbbbb"  ></Button>



<!--<StackLayout   #container  >-->

    <!--&lt;!&ndash;<TextView  col="0" row="0"   text=" You are success login via Auth0 if you see this page.  " ></TextView>&ndash;&gt;-->
    <!--&lt;!&ndash;<TextView  col="0" row="1"   text=" The flowing ping test only work if you started backend server.   If you don't need backend server, just ignorant ping test below." ></TextView>&ndash;&gt;-->


    <!--&lt;!&ndash;<Label col="0" row="2"  text="Ping page"     backgroundColor="red"></Label>&ndash;&gt;-->
    <!--&lt;!&ndash;<Label col="0" row="3"  text="ping"          backgroundColor="blue"  (tap)="ping()"></Label>&ndash;&gt;-->
    <!--&lt;!&ndash;<Label col="0" row="4"  [text]="messagePing"     ></Label>&ndash;&gt;-->
    <!--&lt;!&ndash;<Label col="0" row="5"  text="Security ping" backgroundColor="green" (tap)="securedPing()"></Label>&ndash;&gt;-->
    <!--&lt;!&ndash;<Label col="0" row="6"  [text]="messageSecurityPing"    ></Label>&ndash;&gt;-->
    <!--&lt;!&ndash;<Label col="0" row="7"  [text]="messageLast"    ></Label>&ndash;&gt;-->
    <!--&lt;!&ndash;<Label col="0" row="8"  text="goToGroceries"  (tap)="goToGroceries()"  ></Label>&ndash;&gt;-->



    <!--&lt;!&ndash;<Button text="test Mycomponent XXXXXX"  ></Button>&ndash;&gt;-->

    <!--<actionbar-header></actionbar-header>-->

<!--</StackLayout>-->

<!--<actionbar-header></actionbar-header>-->

<!--<my-component></my-component>-->



<!--<GridLayout columns="*" rows="*,*2,*,*,*,*,*,*,*" width="300" height="400" backgroundColor="lightgray" >-->

    <!--<TextView  col="0" row="0"   text=" You are success login via Auth0 if you see this page.  " ></TextView>-->
    <!--<TextView  col="0" row="1"   text=" The flowing ping test only work if you started backend server.   If you don't need backend server, just ignorant ping test below." ></TextView>-->


    <!--<Label col="0" row="2"  text="Ping page"     backgroundColor="red"></Label>-->
    <!--<Label col="0" row="3"  text="ping"          backgroundColor="blue"  (tap)="ping()"></Label>-->
    <!--<Label col="0" row="4"  [text]="messagePing"     ></Label>-->
    <!--<Label col="0" row="5"  text="Security ping" backgroundColor="green" (tap)="securedPing()"></Label>-->
    <!--<Label col="0" row="6"  [text]="messageSecurityPing"    ></Label>-->
    <!--<Label col="0" row="7"  [text]="messageLast"    ></Label>-->
    <!--<Label col="0" row="8"  text="goToGroceries"  (tap)="goToGroceries()"  ></Label>-->

    <!--&lt;!&ndash;<actionbar-header></actionbar-header>&ndash;&gt;-->

<!--</GridLayout>-->